.box-card {
    .el-card__header {
        color: #707a8a;
        background: #f5f5f5;
    }
    .card-header {
        a {
            width: auto;
        }
        .el-button {
            padding: 0;
        }
    }
    .el-card__body {
        padding: 0;
    }
    .item {
        box-shadow: #eaecef 0px -1px 0px inset;
        color: #1e2329;
        font-size: 14px;
        padding: 18px 0;
        &:hover {
            background: #f5f5f5;
        }
        .el-row {
            padding: 0 16px;
        }
    }
    .right {
        text-align: right;
    }
    .small {
        font-size: 12px;
        margin-top: 5px;
        color: #b1afaf;
    }
    .green {
        color: #50c550;
    }
    .red {
        color: red;
    }
}