.table-head {
    .el-col {
        color: #707a8a;
        background: #f5f5f5;
        font-size: 14px;
        padding: 18px 16px;
        box-shadow: #eaecef 0px 1px 0px inset, #eaecef 0px -1px 0px inset;
    }
}

.table-body {
    overflow: auto;
    .el-row {
        box-shadow: #eaecef 0px -1px 0px inset;
        &:hover {
            background: #f5f5f5;
        }
    }
    .el-col {
        color: #1e2329;
        font-size: 14px;
        padding: 18px 16px;
    }
    .right {
        text-align: right;
    }
    .small {
        font-size: 12px;
        margin-top: 5px;
        color: #b1afaf;
    }
    .green {
        color: #50c550;
    }
    .red {
        color: red;
    }
}